*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


nav { /*по сути контейнер*/
  width: 100vw;
  height: 60px;
  background-color: #333;
}

nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 6px;
  overflow: hidden;
}

nav li {
  float: right;
}

li a {
  margin-right: 40px;
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

i {
  font-size: 40px;
  color: white;
}

.thor-ref {
  padding: 10px;
  margin-left: 10px;
  float: left;
}


body {
background-image: url("thor.jpg");
}


.centered {
  color: white;
    font-size: 40px;
    float: right;
    margin-top: 10vh;
    margin-right: 10vw;

}

.text-left {
  color: white;
    width: 40%;
    font-size: 24px;
    position: absolute;
    top: 35vh;
    right: 2vw;
    
}

