*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


nav { /*по сути контейнер*/
  width: 100vw;
  height: 60px;
  background-color: #333;
}

nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 6px;
  overflow: hidden;
}

nav li {
  float: right;
}

li a {
  margin-right: 40px;
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

i {
  font-size: 40px;
  color: white;
}

.thor-ref {
  padding: 10px;
  margin-left: 10px;
  float: left;
}


body {
background-image: url("thor.jpg");
}


.title {
  color: white;
    font-size: 40px;
    float: right;
    margin-top: 16vh;
    margin-right: 22vw;

}

.text-left {
  color: white;
    width: 40%;
    font-size: 24px;
    position: absolute;
    top: 35vh;
    right: 2vw;
    
}

/*small devices 600-768*/
@media  (max-width: 767px) {
  .centered {font-size: 35px;}
  nav {background-color: yellow;  }
  i {color: black;}
  li a {color: black;}
}

/*medium devices 768-992px*/
@media  (min-width: 768px) {
   .centered {
    font-size: 25px;
  }

  nav {background-color: lightgreen;}
  i {color: black;}
  li a {color: black;}
}
  


/*large devices 992-1200*/
@media  (min-width: 992px) {
   nav {background-color: red;}
     i {color: white;}
  li a {color: white;}
  /*body {background-image: url("1.jpg");}*/
}
  

/*XL devices >1200px*/
@media  (min-width: 1200px) {
  nav {background-color: black;}
       i {color: white;}
  li a {color: white;}
  .title  {    margin-top: 56vh;
    margin-right: 45vw;}
}