*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav	{
	width: 100vw;
	display: block;
	background-color: black;
	padding: 20px;
	color: white;
}

I {
	font-size: 30px;

}



a:visited { 
	text-decoration: none; 
	color: white;
}

.btn {
	text-decoration: none;
	position: relative;
	float: right;
	margin-right: 20px;
/*	left: 80vw;*/
	padding: 5px;
	color: white;
	font-size: 20px;
}

.btn::hover {
	background-color: grey;
}

.container {
	background-image: url("shop.jpg");
	width: 100vw;
	height: 84vh;
}	

h1 {
	width: 80vw;
/*	position: absolute;*/
	font-size: 50px;
	color: #2B577E;
	margin-left: 30px;

}

footer {
	background-color: black;
	color: white;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	padding: 15px;
}
