* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 64, 64) !important; 
}

#big-container {
   width: 30vw;
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
}

#input {
    width: 25vw;
    padding: 10px;
    border: none;
    margin-bottom: 20px;
}

#listTasks {
    background-color: white;
    height: 30vh;
    padding: 20px;
}

i {
    color: rgb(214, 64, 64) !important;
    font-size: 30px;
}

.button-delete {
   background-color: white;
   border: none;
}

.button-delete:hover {
    cursor: pointer
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

li {
    margin-left: 20px;
    padding: 10px;
    border-bottom: solid 20% blue;
}

#button-clear {
    background-color: white;
    border: none;
    padding: 5px;
    float: right;
}

